$primary-color: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
$secondary-color: #150e28;
$blue-color: #903aff;
$pink-color: #d434fe;
$white-color: #fff;

$light-line: 1px solid rgba(255, 255, 255, 0.18);
$dark-line: 2px solid $pink-color;
