.app__button {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: $white-color;
  background: $primary-color;
  width: 17.2rem;
  height: 5.3rem;
  border-radius: 4px;
  border: none;
}
