.header {
  padding: 3rem 8rem;
  border-bottom: $light-line;
  display: flex;
  justify-content: space-between;

  //   & img {
  //   }

  & nav {
    flex-basis: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  & ul {
    flex-basis: 45%;
    list-style: none;
    display: flex;

    & li {
      padding: 1rem 2rem;

      & a {
        color: $white-color;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
  }
  //   & button {
  //   }
}
