.prizes {
  padding: 6rem 12rem;
  background: #130d24;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 1024px) {
    padding: 8rem 3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }

  &__left {
    flex-basis: 45%;
    position: relative;

    & img {
      width: 100%;
    }
    &--bg {
      @include bg;
      top: 0%;
      left: -5%;
      width: 60rem;
      height: 60rem;

      @media only screen and (max-width: 1024px) {
        top: -2%;
        left: -15%;
        width: 30rem;
      }
    }
  }
  &__right {
    flex-basis: 50%;
    position: relative;

    &--bg {
      @include bg;
      top: 25%;
      left: 70%;
      width: 60rem;
      height: 60rem;
      @media only screen and (max-width: 1024px) {
        top: 35%;
        left: 65%;
      }
    }

    &--box {
      width: 65%;
      margin: 0 auto 6rem;
      @media only screen and (max-width: 1024px) {
        width: 80%;
      }
    }
    &--description {
      margin-top: 2rem;
      color: $white-color;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.39rem;
    }
    & figure {
      width: 100%;
      & img {
        width: 100%;
      }
    }
  }
}
