.register {
  position: relative;
  &--bg {
    display: none;
    @media only screen and (max-width: 50em) {
      display: block;
      @include bg;
      top: -17%;
      left: -30%;
      height: 81% !important;
      width: 81% !important;
    }
  }

  & > h3 {
    padding: 2rem 8rem;
    padding-bottom: 0;
    font-weight: 600;
    font-family: 'Clash Display', sans-serif;
    font-size: 3.2rem;
    color: $pink-color;
    display: none;
    @media screen and (max-width: 50em) {
      display: block;
    }
  }
  display: flex;
  @media screen and (max-width: 50em) {
    flex-direction: column;
  }
  &__left {
    position: relative;
    &--bg {
      @include bg;
      top: -17%;
      left: -30%;
      height: 65rem;
      width: 65rem;

      @media only screen and (max-width: 64em) {
        top: 11%;
        left: -26%;
      }
      @media screen and (max-width: 50em) {
        display: none;
      }
    }
    color: #fff;
    flex-basis: 45%;
    padding: 3rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 50em) {
      background: none;
      padding: 3rem;
    }
    & > img {
      width: 100%;
      transform: scale(1.2);

      @media screen and (max-width: 50em) {
        width: 30rem;
        height: 30rem;
      }
    }
  }
  &__right {
    position: relative;
    &--bg {
      @include bg;
      bottom: -10%;
      right: -7%;
      height: 55rem;
      width: 55rem;
      @media screen and (max-width: 50em) {
        display: none;
      }
    }
    padding: 7rem 8rem 8rem 0;
    @media screen and (max-width: 75em) {
      padding: 7rem 4rem 8rem 0;
    }
    @media screen and (max-width: 59.375em) {
      padding: 7rem 2rem 8rem 0;
    }
    @media screen and (max-width: 50em) {
      padding: 0rem 3rem 8rem 3rem;
      background: none;
    }
    @media screen and (max-width: 31.25em) {
      padding: 0rem 3rem 8rem 3rem;
      background: none;
    }

    flex-basis: 55%;
  }
  &__form {
    padding: 4rem 6rem;
    background-color: rgba($white-color, 0.05);
    box-shadow: $box-shadow;
    border-radius: 1.2rem;

    @media screen and (max-width: 50em) {
      background: none;
      padding: 0 2.5rem 4rem;
    }
    & > h3 {
      font-weight: 600;
      font-family: 'Clash Display', sans-serif;
      font-size: 3.2rem;
      @media screen and (max-width: 59.375em) {
        font-size: 2.8rem;
      }
      color: $pink-color;
      @media screen and (max-width: 50em) {
        display: none;
      }
    }
    & > .sub-legend {
      margin-top: 2.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: $white-color;
      margin-bottom: 2rem;
      & span {
        display: inline-block;
        width: 10.1rem;
        text-align: center;
        border-bottom: 1px dashed $pink-color;
      }
    }
    & > h4 {
      font-weight: 400;
      font-size: 2.4rem;

      @media screen and (max-width: 59.375em) {
        font-size: 2rem;
      }
      color: $white-color;
      text-transform: uppercase;
    }
    & > .note {
      color: #ff26b9;
      font-weight: 400;
      font-style: italic;
      font-size: 1.2rem;
    }
  }
  &__info {
    margin-top: 2.5rem;

    & > textarea {
      min-height: 11.9rem;
      resize: none;
    }
  }
  &__fields {
    display: flex;
    @media screen and (max-width: 50em) {
      margin-bottom: 0rem;
    }
    &:not(:last-child) {
      @media screen and (max-width: 50em) {
        flex-direction: column;
      }
    }

    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__group {
    position: relative;
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 50em) {
      flex-direction: column;
      margin-bottom: 2rem;
    }
    & > label {
      color: $white-color;
      font-weight: 400;
      font-size: 1.4rem;
    }
    & > input,
    select {
      box-shadow: $box-shadow;
      color: $white-color;
      font-size: 1.2rem;

      @media screen and (max-width: 59.375em) {
        font-size: 1rem;
      }

      font-weight: 400;
      line-height: 1.95rem;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 1rem;
      background-color: transparent;
      outline: none;
      border: 1px solid $white-color;
      border-radius: 5px;

      &:focus {
        border: 1px solid $pink-color;
      }

      &::placeholder {
        color: rgba($white-color, 0.25);
        font: inherit;
      }
    }

    & > svg {
      position: absolute;
      display: inline-block;
      right: 5%;
      top: 65%;
      width: 1.05rem;
      height: 0.6rem;
    }

    & > select {
      appearance: none;
      background: transparent;

      & option {
        color: $pink-color;
        padding: 1rem 0;
        font-size: 1.6rem;
        margin: 0.3rem 0;
        font-weight: 400;
      }
    }
  }
  &__cta {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    & > div {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      & > input {
        margin-right: 1rem;
        background: transparent;
      }
      & > span {
        font-size: 1.2rem;
        font-weight: 400;
        color: $white-color;
      }
    }
    & > button {
      width: 100%;
    }
  }

  &__pink--star {
    position: absolute;
    width: 2.1rem;
    height: 2.5rem;
    top: 10%;
    left: 10%;

    @media only screen and (max-width: 37.5em) {
      width: 1.4rem;
      height: 1.3rem;
      top: 50%;
      left: 85%;
    }

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__purple--star {
    position: absolute;
    width: 2.3rem;
    height: 2.8rem;
    bottom: 22%;
    right: 8%;

    @media only screen and (max-width: 37.5em) {
      width: 0.9rem;
      height: 1rem;
      bottom: -160%;
      right: 10%;
    }

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__dark1--star {
    position: absolute;
    width: 2.6rem;
    height: 3.2rem;
    bottom: 5%;
    left: 12%;
    @media only screen and (max-width: 37.5em) {
      display: none;
    }

    & img {
      height: 100%;
      width: 100%;
    }
  }

  // Right
  &__dark2--star {
    position: absolute;
    width: 2.6rem;
    height: 3.2rem;
    top: 10%;
    right: 32%;

    @media only screen and (max-width: 37.5em) {
      width: 1.4rem;
      height: 1.8rem;
      top: 17%;
      left: 10%;
    }

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__white--star {
    position: absolute;
    width: 1rem;
    height: 1.2rem;
    bottom: 9%;
    right: 20%;

    @media only screen and (max-width: 37.5em) {
      display: none;
    }

    & img {
      height: 100%;
      width: 100%;
    }
  }
}

.container {
  color: #fff;
  display: block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
}

.container:hover input ~ .checkmark {
  background-color: #fff;
}

.container input:checked ~ .checkmark {
  background-color: $blue-color;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $white-color;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
