.register {
  //   @include bg;
  display: flex;
  &__left {
    color: #fff;
    flex-basis: 40%;
    padding: 8rem 0 8rem 0rem;
    & > img {
      width: 100%;
    }
  }
  &__right {
    padding: 7rem 16rem 7rem 0;
    flex-basis: 60%;
  }
  &__form {
    background-color: rgba(#fff, 0.05);
    border-radius: 1.2rem;
    padding: 4rem;
    & > h3 {
      font-weight: 600;
      font-family: 'Clash Display';
      font-size: 3.2rem;
      color: $pink-color;
    }
    & > .sub-legend {
      margin-top: 2.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;
      margin-bottom: 2rem;
    }
    & > h4 {
      font-weight: 400;
      font-size: 2.4rem;
      color: #fff;
      text-transform: uppercase;
    }
    & > .note {
      color: #ff26b9;
      font-weight: 400;
      font-style: italic;
      font-size: 1.2rem;
    }
  }
  &__info {
    margin-top: 2.5rem;

    & > textarea {
      min-height: 11.9rem;
      resize: none;
    }
  }
  &__fields {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__group {
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    & > label {
      color: #fff;
      font-weight: 400;
      font-size: 1.4rem;
    }
    & > input,
    select {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.95rem;
      font-family: 'Montserrat';
      display: inline-block;
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 1rem;
      background-color: transparent;
      outline: none;
      border: 1px solid #fff;
      border-radius: 5px;
      //   box-shadow: 0px 4px 4px 0px #00000040;
      &::placeholder {
        color: rgba(#fff, 0.25);
        font: inherit;
      }
    }
    & > select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 8px;
      padding-right: 1rem;
    }
  }
  &__cta {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    & > div {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      & > input {
        margin-right: 1rem;
        background: transparent;
      }
      & > span {
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
      }
    }
    & > button {
      width: 100%;
    }
  }
}
