.faqs {
  border-bottom: $light-line;
  padding: 5rem 8rem 5rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media only screen and (max-width: 1024px) {
    padding: 8rem 3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  & p {
    width: 80%;
    margin: 2.5rem 0 4rem;
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.75rem;
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  & figure {
    flex-basis: 50%;

    & img {
      width: 100%;
    }
  }

  & div {
    flex-basis: 45%;

    & ul {
      margin-top: 2rem;
      margin-bottom: 4rem;
      list-style: none;

      & li {
        margin-bottom: 3rem;
        color: $white-color;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
        border-bottom: $dark-line;
        @media only screen and (max-width: 1024px) {
          align-items: baseline;
        }

        & span {
          @media only screen and (max-width: 1024px) {
            text-align: left;
          }
        }
      }
    }
  }
}
